/**fonts**/

/**@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 400;
  src: url("./../vendor/Fonts/Roboto.ttf") format("ttf");
};**/


/**root**/

.root {
width: 100%;
margin: 0;
/**background: #E5E5E5;**/
color: #000000;
font-family: 'Roboto', Arial, sans-serif;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
z-index: 0;
};


/**header**/

.header {
display: flex;
height: 700px; /**уб**/
left: 0px;
top: 0px;
background: #EEEFF1;
z-index: 1;
};

.header__logo {
display: flex;
width: 96px;
height: 60px;
padding-top: 57px;
padding-left: 402px;
};

.header__menu {

};

.header__menu_link {

};

.header__menu_link-active {

};

.header__content {

};

.header__content_image {

};

.header__content_box {

};

.header__content_box-title {

};

.header__content_box-text {

};

.header__content_box-button {

};


/**content**/

.content {
background: #E5E5E5;
};

.content__about {

};

.content__about_title {

};

.content__about_text {

};

.content__projects {

};

.content__projects_image {

};


/**content__skills **/

.content__skills {

};

.content__skills_box {

};

.content__skills_box-title {

};

.content__skills_box_skill {

};

.content__skills_box_skill-name {

};

.content__skills_box_skill-progress {

};

.content__skills-avatar {

};


/**videoblock**/

.videoblock {

};

.videoblock__container {

};

.videoblock__container_textblock {

};

.videoblock__container_textblock-title {

};

.videoblock__container_textblock-text {

};

.videoblock__container_video {

};

.videoblock__container_video-preview {

};

.videoblock__container_video-button {

};


/**grid**/

.grid {

};

.grid__element {

};

.grid__element-active {

};

.grid__element-inblock {

};

.grid__element-view {

};


/**feedback**/

.feedback {

};

.feedback__commonblock {

};

.feedback__commonblock_textblock {

};

.feedback__commonblock_textblock-title {

};

.feedback__commonblock_textblock-text {

};

.feedback__commonblock_inputblock {

};

.feedback__commonblock_inputblock-name {

};

.feedback__commonblock_inputblock-email {

};

.feedback__commonblock_inputblock-message {

};

.feedback__commonblock-button {

};


/**footer**/

.footer {

};

.footer__textblock {

};

.footer__textblock-name {

};

.footer__textblock-copyright {

};

.footer__logoblock {

};

.footer__logoblock-logo {

};